body {
    background-color: #77bdff;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#logo {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
}

h1 {
    text-align: center;
    /* Taille normale des titres sur un ordinateur */
    font-size: 3em;
}

section img {
    display: flex;
    justify-content: center;
    align-content: center;
    object-position: center;
    width: 70%;
    padding: auto;
    margin: auto;
}


input[type="button"], input[type="submit"] {
    display: flex;
    justify-content: center;
    margin: auto;
    width:auto;
    color: #ffffff;
    background-color: #f69679;
    box-shadow: 5px 10px 18px #888888;
    border: #f69679;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: bold;
    }
    input[type="button"]:hover, input[type="submit"]:hover {
    color: #ffffff;
    background: #f69679;
    border: 1px solid #f69679;
    }

